<p id="notice"><%= notice %></p>

<p>
  <b>Begin:</b>
  <%= @period.begin %>
</p>

<p>
  <b>End:</b>
  <%= @period.end %>
</p>

<p>
  <b>Workday:</b>
  <%= @period.workday %>
</p>


<%= link_to 'Edit', edit_period_path(@period) %> |
<%= link_to 'Back', periods_path %>
