%h1 Listing workdays
%table
  %tr
    %th Day
    %th Begin
    %th End
    %th Begin
    %th End
    %th Hours
    %th
    %th
  - @workdays.each do |workday|
    %tr
      %td= workday.day.to_s(:long)
      - workday.periods.each do |period|
        %td= period.begin.utc.strftime('%H:%M')
        %td= period.end.utc.strftime('%H:%M')
      %td= workday.worked_hours.utc.strftime('%H:%M')
      %td= link_to 'Show', workday
      %td= link_to 'Edit', edit_workday_path(workday)
      %td= link_to 'Destroy', workday, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Workday', new_workday_path
%br/
= link_to 'Logout' , destroy_user_session_path , :method => :delete
