<h1>Listing workdays</h1>

<table>
  <tr>
    <th>Day</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workdays.each do |workday| %>
  <tr>
    <td><%= workday.day %></td>
    <td><%= workday.user_id %></td>
    <td><%= link_to 'Show', workday %></td>
    <td><%= link_to 'Edit', edit_workday_path(workday) %></td>
    <td><%= link_to 'Destroy', workday, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Workday', new_workday_path %>
